.single-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.top-nav{
    width: 100%;
    border-bottom: 1px solid rgba(175,175,175, 0.5);
    display: flex;
    justify-content: center;
}


//  @media screen and (max-width: 1000px) {
//   .single-page, .content-header {
    // width: 1000px;
    // width: 500px;
    // width: 1000px;
//   }
// }

@media only screen and (max-width: 1031px) {
  .content-header {
    width: 500px;
  }
}

@media only screen and (min-width: 1032px) {
  .content-header {
    width: 1032px;
  }
}


.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;

    box-sizing: border-box;
    align-items: center;
    padding: 0px 10px 0px 10px;
    top: 0; 
}

.nav-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background: red;
}

.body{
    height: calc(100vh - 105px);
    overflow-y: auto;
}

.footer{
    bottom: 0;
    // height: 3vh;
    text-align: center;
    padding-top: 5px;
    font-size: 11px;
    font-weight: bold;
}

#logo{
    // float: left;
    // margin-top: -8px;
    // margin-right: 5px;
}

// #nav-list{
//     float: right;
// }

#nav-title{
    margin-left: 10px;
    // float: left;
    color: #e60023;
    font-size: 20px;
    font-weight: bold;
}
