
.header{
    height: 115px;
    background: white;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    top: 0; 
    width: 100%; 
    // z-index: 15px;

}

.body{
    margin-top: 115px;
    height: calc(100vh - 150px);
    overflow-y: auto;
}


#logo{
    float: left;
    margin-top: -8px;
    margin-right: 5px;
}



#nav-list{
    float: right;
}

#nav-title{
    float: left;
    color: #e60023;
    font-size: 20px;
    font-weight: bold;
}
