.comment-index, .comment-header, .comment-body{
    display: flex;
    flex-direction: column;
}

.comment-body{
    margin-top: 20px;
}

.pin-comments{
    display: flex;
    flex-direction: column;
}

.comment-index-item, .comment-text-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-text, .comment-user-username{
    display: flex;
    flex-direction: row;
}

.comment-text{
    justify-content: flex-start;
    border-bottom: 1px solid #afafaf96
}

.comment-user-username{
    justify-content: flex-end;
    font-style: italic;
    letter-spacing: 2px
}

textarea{
    border: 1px solid #afafaf96;
}