// #90{
  // animation: rotate-center-90 0.6s ease-in-out both;
// 
// }

.r45{
  transform: rotate(225deg);
  transition-duration: 0.25s;
  // z-index:20;
  // background: white;
}

.r90{
  transform: rotate(0deg);
  transition-duration: 0.25s;
//   // z-index:20;
  // background: white;

}

#hidden, #shift{
  // display: none;
  transform: translateY(120px);
  transition-duration: 0.25s;
  z-index: -1;
}

#hidden{
  animation: fade 0.1s forwards;
}


 
#reveal, #shift-reveal{
  // visibility: visible;
  transition-duration: 0.25s;
  // transform: translateY(0px);
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}