.splash{
    align-items: center;
    max-width: 1400px;
}

.splash-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    overflow-y: auto;
}

.splash-container img {
    width: 25%;
}