.content-container{
    width: 100%;
    margin-top: 10px;
    align-items: center;
    padding: 15px;
    box-sizing: border-box; 
}

.pin-show-container, .pin-create-container{
    margin: auto;
    max-width: 1100px;
    height: auto;
    padding: 10px;
    // align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.pin-show-item {
    display: block;
    margin: auto;
    max-width: 900px;
    box-sizing: border-box;
    max-height: 95vh;
}

.pin-show-item, img {
    max-width: 100%;
    max-height: 600px;
    border-radius: 20px;
    box-shadow:  5px 5px 10px #dbdbdb, 
    -5px -5px 10px #fbfbfb;
    border-bottom: 5px groove rgba(221, 221, 221, 0.219);
    box-shadow: inset -7px -7px 31px #fff6d17c;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;

}

.idx-image img{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
.pin-show-det {
    margin: 15px;
    background: #feffd157;
    padding: 10px;
    padding: 15px;
    min-width: 350px;
    max-width: 425px;
    overflow-wrap: break-word;
    border-radius: 8px;
    box-shadow:  5px 5px 10px #dbdbdb, 
    -5px -5px 10px #fbfbfb;
    border-bottom: 5px groove rgba(221, 221, 221, 0.219);
    box-shadow: inset -7px -7px 31px #fff6d17c;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

#pin-title{
    font-size: 46px;
    font-weight: 600px;
    margin-bottom: 2px;
}


#pin-owner{
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px){
    .pin-show-item{
        max-width: 60%;
    }
    .pin-show-det{
        max-width: 40%;
    }
}

.no-board-warning{
    color: red;
    width: 300px;
}

#warning-link{
    text-decoration: underline;
}
@keyframes fadeInAnimation {
    0% { 
                opacity: 0; 
            } 
            100% { 
                opacity: 1; 
            } 
}