.content-container{
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // max-width: 1400px;
    // width: 100%;
    // height: 100%;
    // margin-top: 10px;
    // align-items: center;
    // padding: 0px 15px 0px 15px;
    // box-sizing: border-box; 
    // overflow-y: auto;
    // margin: auto;
    // background: red;
}

.pin-show-container, .pin-create-container,.board-create-container{
    // margin: auto;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // max-width: 1000px;
    // min-width: 540px;
    // flex-flow: wrap;
    // height: 100%;
    // width: 100%;
    // background: red;
    
}



.pin-show {
  overflow-y: auto;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow-y: auto;
  justify-content: center;
}

.row > div {
    margin: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;

}

.column-pin-create{
    width: 352px;
}

.pin-show-item {
  height: auto;
}

@media screen and (min-width: 500px) {
  .column {
    flex: 1
  }
}

.pin-show-item, .pin-show-det, .peripheral-container {
    width: 500px;
}


.pin-show-item img {
    width: 500px;
}

.pin-show-item {
    width: 500px;
    border-radius: 20px;
}

.pin-sub{
    font-size: 12px;
}

.idx-image{
    border-radius: 20px;
}

.like-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.pin-show-det{
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    flex-direction: column;    
}

#pin-title, #board-title{
    font-size: 46px;
    font-weight: 600px;
    margin-bottom: 2px;
}
    
#pin-description{
    font-size: 18px;
    padding: 10px;
}

.pin-features{
    display: flex;
    justify-content: space-between;
}



#pin-owner, #board-owner{
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.comment-form{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}



.comment-box{
    width: 500px;
    box-sizing: border-box;
    height: auto;
}

.no-board-warning{
    color: red;
    width: 300px;
}

#warning-link{
    text-decoration: underline;
}

@keyframes fadeInAnimation {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}
