.modal-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    padding-top: 50px;
}

.modal-child{
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 36px rgba(34, 34, 34, 0.459);
    border: 1px solid rgba(34, 34, 34, 0.623);
    overflow-y: auto;
    max-width: 1000px;
    overflow-y: auto;
    z-index: 5000;
}



.modal-tab{
    height: 45px;
    width: 100%;
    background: #ffffff;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(175,175,175, 0.5);
    text-align:left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}



.close-tab{
    width:50px;
    height:40px;
    color: rgb(34,34,34);
    text-shadow: 0px 1px #000;
}