
.index-container{
    column-count: 6;
    // column-gap: 325px;
    column-gap: 15px;
    align-items: center;
    margin: 25px;
}

.index-container img {
    width: 100%;
    margin-bottom: 20px;
    // position: relative;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 142px 76px rgba(84,78,84,1);
    -moz-box-shadow: inset 0px 0px 142px 76px rgba(84,78,84,1);
    box-shadow: inset 0px 0px 142px 76px rgba(84,78,84,1);
}

.idx-image{
    -webkit-box-shadow: inset 0px 0px 142px 76px rgba(84,78,84,1);
    -moz-box-shadow: inset 0px 0px 142px 76px rgba(84,78,84,1);
    box-shadow: inset 0px 0px 142px 76px rgba(84,78,84,1);

}


// .index-container img:hover{
// }