
.index-container {
    column-gap: 15px;
    margin: 25px 10px 25px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pin-index-container, .user-content{
    // max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pin-index-container img, .user-content img{
    // width: 350px;
    width: 325px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.index-container img:hover {
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 8px -4px rgba(45,45,45,0.41);
    -moz-box-shadow: 0px 10px 8px -4px rgba(45,45,45,0.41);
    box-shadow: 0px 10px 8px -4px rgba(45,45,45,0.41);
}

.splash{
    height: calc(100vh - 105px);
    width: 100%;
    background-image: url('https://i.imgur.com/OJ4t6FJ.jpg');
    align-items: center;
}

.content-body{
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden
}

.content-display{
    padding-top: 15px;
}

