
.carousel-div{
  margin-top:10px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  height: 100px;
}

.background{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

}

.carousel {
  width: 100%;
  text-align: center;
  line-height: 65px;
  height: 80px;
  }

.carousel .change_outer {
  text-align: center;
  height: 70px;
  overflow: hidden;
}
.carousel .change_outer .change_inner {
  position: relative;
  animation: rotate 25s ease-in-out infinite;
}

#dummy{
  color: #C25D00;
  animation: dummy 25s ease-in-out infinite;

}

#hallo{
  color: #C25D00;
  animation: hallo 25s ease-in-out infinite;
}

#din{
  color: #C28B00;
  animation: din 25s ease-in-out infinite;
}

#home{
  color: #618C7B;
  animation: home 25s ease-in-out infinite;
}

#look{
  color: #0076D3;
  animation: look 25s ease-in-out infinite;
  
}

@keyframes rotate {
  0%, 100% {
            transform: translateY(0);
  }
  5%,20% {
            transform: translateY(-66px);
  }
  25%,40% {
            transform: translateY(-130px);
  }
  45%,60% {
            transform: translateY(-192px);
  }
  65%,80% {
            transform: translateY(-260px);
  }
  85%,99% {
            transform: translateY(-360px);
  }
}

@keyframes dummy {
    0%,100% {
        opacity:0;
    }
}

@keyframes hallo {
    0%,20% {
        opacity:1;
    }

    25%,100% {
        opacity:0;
    }
}

@keyframes din {
    0%,40% {
        opacity:1;
    }

    45%,100% {
        opacity:0;
    }
}

@keyframes home {
    0%,60% {
        opacity:1;
    }

    65%,100% {
        opacity:0;
    }
}

@keyframes look {
    0%,80% {
        opacity:1;
    }

    85%,100% {
        opacity:0;
    }
}
