
.login-form-container{
    min-height: 400px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 10px 24px;
    box-sizing: border-box;
}

ul#login-signup{
    list-style: none;
    margin-right:30px;
}

ul#login-signup li{
    display: inline;
    margin-left: 40px;
    margin-right: 5px;
}

#form-greeting{
    font-size: 36px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -1.2px;
    word-break: break-word;
}

#sub-greeting{
    margin-bottom: 5px;
    margin-top: 5px;
}

#clear-errors{
    background:yellow;
}

ul#errors > li {
    list-style-type: disc;
    list-style-position: inside;
    

}


#placeholder{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    font-size: medium;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    padding: 8px 16px;

}

#button{
    height: 45px;
    width: 286px;
    border-radius: 8px;
    color: white;
    background: #e60023;

}

#loginbtn,#save-pin{
    height: 45px;
    width: 100px;
    border-radius: 8px;
    color: white;
    background: #2d2d2d;

}

#logoutbtn{
    height: 45px;
    width: 95px;
    color: white;
    background: #2d2d2d;

}

#signinbtn, #make-pin, #make-board{
    height: 45px;
    width: 200px;
    border-radius: 8px;
    color: white;
    background: #e60023;

}

.switch-tab{
    height: 45px;
    width: 100%;
    color: whitesmoke;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: 700;
    background: #2ed9bc;
    box-sizing: border-box;
    z-index:65;
}

.toggle{
    cursor: pointer;
}
