/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.content-header{
    width: 100%;
}

.single-page{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
    box-sizing: border-box;
    align-items: center;
    top: 0; 
}

.user-tools{
    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // gap: 10px;
}

.user-tools-item{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.36);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.user-tools div:not(:last-child){
  margin-bottom: 10px;
}



@media only screen and (min-width: 1405px) {
  .content-header, .content-display, #header, .modal-child {
    width: 1405px;
  }
}



.pin-index-container{
  column-count: 4;
  column-gap: 5px;
  row-gap: 5px;
  margin: 0 auto;
  height: fit-content;
}

.board-index-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.pin-index-item img{
  width: 350px;
}


@media screen and (max-width: 1470px){
  .pin-index-container{
    column-count: 3;
  }

   .content-header, .content-display, #header, .modal-child {
    width: 1050px;
  }
} 


@media screen and (max-width: 1080px){
  .pin-index-container{
    column-count: 2;
  }

  .content-header, .content-display, #header, .modal-child {
    width: 750px;
  }
} 

@media screen and (max-width: 760px){
  .pin-index-container{
    column-count: 1;
  }
   .content-header, .content-display, #header, .modal-child {
    width: 500px;
  }

  #header{
    padding-left: 10px
  }
} 


a{
  cursor: pointer;
}

.submit-buttons{
  height: 36px;
}