.modal-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // display: none;
    background-color: rgba(0, 0, 0, 0.33);
    z-index:5;
    padding-top: 50px;
}

.modal-child{
    margin: auto;
    width: 425px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 36px #222;
    -webkit-box-shadow: inset 0px 0px 41px 1px rgba(45,45,45,0.41);
    -moz-box-shadow: inset 0px 0px 41px 1px rgba(45,45,45,0.41);
    box-shadow: inset 0px 0px 41px 1px rgba(45,45,45,0.41);
    //outside
    -webkit-box-shadow: 0px 0px 34px 0px rgba(79,79,79,0.79);
    -moz-box-shadow: 0px 0px 34px 0px rgba(79,79,79,0.79);
    box-shadow: 0px 0px 34px 0px rgba(79,79,79,0.79);


}

.header-model{
    height:200px;
    background-color: hotpink;
}

.modal-tab{
    height: 45px;
    width: 100%;
    background: #2d2d2d;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: inset 0px 0px 15px 4px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0px 0px 15px 4px rgba(0,0,0,0.50);
    box-shadow: inset 0px 0px 15px 4px rgba(0,0,0,0.50);
    //text specific
    text-align:left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}



.close-tab{
    width:50px;
    height:40px;
    color: #8a8a8a;
    text-shadow: 0px 1px #000;
    

}