body{
    font-family: helvetica;
    font-weight: 100;
    color: #2d2d2d;
}

h1{
    font: 36px;
}

a{ 
    color: inherit;
    text-decoration: inherit; 
}

.footer{
    height: 3vh;
    text-align: center;
    padding-top: 10px;
    font-size: 11px;
    // font-weight: 500px;
    font-weight: bold;
}

input{
    border: none;
}
// textarea,input{
//     min-width: 350px;
//     max-width: 450px;
//     height: auto;
//     background: none;
//     border: none;
//     word-break: break-word; 
//     max-height: 50vh;
//     font-size: 14px;
    
// }

.errors{
    color: red;
    // text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: 10px;
    font-size: 12px;
}