body{
    font-family: helvetica;
    font-weight: 100;
    color: #2d2d2d;
}

h1{
    font: 36px;
}

a{ 
    color: inherit;
    text-decoration: inherit; 
}

input{
    border: none;
}
// textarea,input{
//     min-width: 350px;
//     max-width: 450px;
//     height: auto;
//     background: none;
//     border: none;
//     word-break: break-word; 
//     max-height: 50vh;
//     font-size: 14px;
    
// }

.errors{
    color: red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    // height: 10px;
    font-size: 12px;
}

.inline-edit{
    // height: inherit;
    // width: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}